.bmw::before{
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color:rgba(0, 0, 0, .4);
}


    .selecter{
    position: absolute;
    top: 25%;
    left: 4.6%;
    z-index: 99;
    width: 90%;
    height: 1%;
    color: white;
    }
    .cards1{
        position: absolute;
        z-index: 3;
        left: 18vw;
        top: 18.5vw;
        font-size: 0.9vw;
    }
    .cards2{
        position: absolute;
        z-index: 3;
        left: 41vw;
        top: 18.5vw;
        font-size: 0.9vw;
    }
    .cards3{
        position: absolute;
        z-index: 3;
        left: 64vw;
        top: 18.5vw;
        font-size: 0.9vw;

    }
    .cards4{
        position: absolute;
        z-index: 3;
        left: 18vw;
        top: 43vw;
        font-size: 0.9vw;
    }
    .cards5{
        position: absolute;
        z-index: 3;
        left: 41vw;
        top: 43vw;
        font-size: 0.9vw;
    }
    .cards6{
        position: absolute;
        z-index: 3;
        left: 64vw;
        top: 43vw;
        font-size: 0.9vw;
    }
    .cards7{
        position: absolute;
        z-index: 3;
        left: 18vw;
        top: 67.5vw;
        font-size: 0.9vw;
    }
    .cards8{
        position: absolute;
        z-index: 3;
        left: 41%;
        top: 67.5vw;
        font-size: 0.9vw;
    }
    .cards9{
        position: absolute;
        z-index: 3;
        left: 64%;
        top: 67.5vw;
        font-size: 0.9vw;
    }
    .cards10{
        position: absolute;
        z-index: 3;
        left: 18vw;
        top: 92vw;
        font-size: 0.9vw;
    }
    .cards11{
        position: absolute;
        z-index: 3;
        left: 41vw;
        top: 92vw;
        font-size: 0.9vw;
    }
    .cards12{
        position: absolute;
        z-index: 3;
        left: 64vw;
        top: 92vw;
        font-size: 0.9vw; 
    }
    .cards13{
        position: absolute;
        z-index: 3;
        left: 18vw;
        top: 116.5vw;
        font-size: 0.9vw;
    }
    .cards14{
        position: absolute;
        z-index: 3;
        left: 41vw;
        top: 116.5vw;
        font-size: 0.9vw;
    }
    .cards15{
        position: absolute;
        z-index: 3;
        left: 64vw;
        top: 116.5vw;
        font-size: 0.9vw;
    }
    .cards-bmw{
        will-change: contents;
    }
    .card-text{
        font-size: 0.91vw;
    }
    .card-title{
        font-size: 1.08vw; 
    }
    .c-item{
        max-width: 100%;
        min-height: 150vw;
        background-size: cover;
        background-repeat: no-repeat;
    }
    .carousel{
        position: relative;
        z-index: 1;
    }
    .caption{
        left: 28.4%;
        font-size: 3vw;
        top: 3vw;
    }
    .card-img-top{
        pointer-events: none;  
    }
    .cards-bmw{
        text-align: center;
    }
    .card{
        width: 22rem !important;
    }



    @media (min-width: 2300px){
        .card{
            width: 30rem !important;
        }
        .card-img-top{
            width:478px !important;
        }
    }

    @media (max-width: 1600px){
        .card{
            width: 18rem !important;
        }
        .card-img-top{
            width: auto !important;
        }
    }

    @media (max-width: 1500px) and (max-height: 770px){
        .card{
            width: 15rem !important;
        }
        .card-img-top{
            width: auto !important;
        }
        .card-title{
            font-size: 1vw; 
        }
   
    }


    @media (max-width: 1300px){
        .card{
            width: 14rem !important;
        }
        .card-title{
            font-size: 1vw; 
        }
        .card-img-top{
            width: auto !important;
        }
        .card-text{
            font-size: 0.9vw; 
        }
        .btn{
            font-size: 0.9vw; 
        }
    }

    @media (max-width: 1200px) and (max-height: 630px){
        .card{
            width: 13rem !important;
        }
        .card-title{
            font-size: 1vw; 
        }
        .card-img-top{
            width: auto !important;
        }
        .card-text{
            font-size: 0.9vw; 
        }
        .btn{
            font-size: 0.9vw; 
        }
    }


    @media (max-width: 1100px){
        .card{
            width: 12rem !important;
        }
        .card-title{
            font-size: 1vw; 
        }
        .card-img-top{
            width: auto !important;
        }
        .card-text{
            font-size: 0.9vw; 
        }
        .btn{
            font-size: 0.9vw; 
        }
    }

    @media (max-width: 1050px) and (max-height: 650px){
        .card{
            width: 11rem !important;
        }
        .card-title{
            font-size: 0.9vw; 
        }
        .card-img-top{
            width: auto !important;
        }
        .card-text{
            font-size: 0.9vw; 
        }
        .btn{
            font-size: 0.9vw; 
        }
    }

    @media (max-width: 950px) and (max-height: 580px){
        .card{
            width: 9.6rem !important;
        }
        .card-title{
            font-size: 0.9vw; 
        }
        .card-img-top{
            width: auto !important;
        }
        .card-text{
            font-size: 0.82vw; 
        }
        .btn{
            font-size: 0.9vw; 
        }
    }


@media (max-width: 500px) and (min-height: 700px){
    .card-img-top{
        width:auto !important;
        height: 30vw !important;
    }
    .card-text{
        font-size: 3vw;
    }
    .card-title{
        font-size: 3.86vw; 
    }
    .card-img-top{
        width: auto !important;
    }
    .bmw{
        background-image: url("../../images/slider_webp/sm.png") !important;
        background-position: center;
        min-height: 320vh !important;
        max-width: 100%;
   }
    .btn{
    font-size: 3.4vw;
   }
    .cards-bmw{
    width: 100%;
   }
   .col-one{
    height: 10% !important;
   }
   .chip_info{
    position: relative;
    margin-top: -12vh !important;
    font-size: 5vw;
    z-index: 3;
}

    .caption{
        font-size: 10vw;
        left: 0vw;
        line-height: 13vw;
        width: 100%;   
    }
    .card{
        width: 42vw !important;
    }
    .cards1{
        position: absolute;
        z-index: 3;
        left: 8.1vw;
        top: 37vh;
        font-size: 3vw;
    }
    .cards2{
        position: absolute;
        z-index: 3;
        left: 53vw;
        top: 37vh;
        font-size: 3vw;
    }
    .cards3{
        position: absolute;
        z-index: 3;
        left: 8.1vw;
        top: 69.5vh;
        font-size: 3vw;
    }
    .cards4{
        position: absolute;
        z-index: 3;
        left: 53vw;
        top: 69.5vh;
        font-size: 3vw;
    }
    .cards5{
        position: absolute;
        z-index: 3;
        left: 8.1vw;
        top: 102vh;
        font-size: 3vw;
    }
    .cards6{
        position: absolute;
        z-index: 3;
        left: 53vw;
        top: 102vh;
        font-size: 3vw;
    }
    .cards7{
        position: absolute;
        z-index: 3;
        left: 8.1vw;
        top: 132.5vh;
        font-size: 3vw;
    }
    .cards8{
        position: absolute;
        z-index: 3;
        left: 53vw;
        top: 132.5vh;
        font-size: 3vw;
    }
    .cards9{
        position: absolute;
        z-index: 3;
        left: 8.1vw;
        top: 165vh;
        font-size: 3vw;
    }
    .cards10{
        position: absolute;
        z-index: 3;
        left: 53vw;
        top: 165vh;
        font-size: 3vw;
    }
    .cards11{
        position: absolute;
        z-index: 3;
        left: 8.1vw;
        top: 197.5vh;
        font-size: 3vw;
    }
    .cards12{
        position: absolute;
        z-index: 3;
        left: 53vw;
        top: 197.5vh;
        font-size: 3vw;
    }
    .cards13{
        position: absolute;
        z-index: 3;
        left: 8.1vw;
        top: 232.3vh;
        font-size: 3vw;
    }
    .cards14{
        position: absolute;
        z-index: 3;
        left: 53vw;
        top: 232.3vh;
        font-size: 3vw;
    }
    .cards15{
        position: absolute;
        z-index: 3;
        left: 8.1vw;
        top: 269vh;
        font-size: 3vw;
    }
} 

@media (max-width: 400px) and (max-height: 700px) {
    .chip_info{
        position: relative;
        margin-top: -10vh !important;
        font-size: 5vw;
        z-index: 3;
   }
    .caption{
        font-size: 10vw;
        left: 0vw;
        line-height: 13vw;
        width: 100%;   
    }
    .card{
        width: 42vw !important;
    }
    .card-img-top{
        width:auto !important;
        height: 30vw !important;
    }
    .card-text{
        font-size: 3vw;
    }
    .card-title{
        font-size: 3.86vw; 
    }

    .card-img-top{
        width: auto !important;
    }
    .bmw{
        background-image: url("../../images/slider_webp/sm.png") !important;
        background-position: center;
        min-height: 415vh !important;
        max-width: 100%;
   }
   .btn{
    font-size: 3.4vw;
   }
   .cards-bmw{
    width: 100%;
   }

   .col-one{
    height: 10% !important;
   }

   .chip_info{
    top: 0vw !important;
}


    .cards1{
        position: absolute;
        z-index: 3;
        left: 8.1vw;
        top: 45vh;
        font-size: 3vw;
    }
    .cards2{
        position: absolute;
        z-index: 3;
        left: 53vw;
        top: 45vh;
        font-size: 3vw;
    }
    .cards3{
        position: absolute;
        z-index: 3;
        left: 8.1vw;
        top: 87vh;
        font-size: 3vw;
    }
    .cards4{
        position: absolute;
        z-index: 3;
        left: 53vw;
        top: 87vh;
        font-size: 3vw;
    }
    .cards5{
        position: absolute;
        z-index: 3;
        left: 8.1vw;
        top: 129vh;
        font-size: 3vw;
    }
    .cards6{
        position: absolute;
        z-index: 3;
        left: 53vw;
        top: 129vh;
        font-size: 3vw;
    }
    .cards7{
        position: absolute;
        z-index: 3;
        left: 8.1vw;
        top: 168.5vh;
        font-size: 3vw;
    }
    .cards8{
        position: absolute;
        z-index: 3;
        left: 53vw;
        top: 168.5vh;
        font-size: 3vw;
    }
    .cards9{
        position: absolute;
        z-index: 3;
        left: 8.1vw;
        top: 210.6vh;
        font-size: 3vw;
    }
    .cards10{
        position: absolute;
        z-index: 3;
        left: 53vw;
        top: 210.6vh;
        font-size: 3vw;
    }
    .cards11{
        position: absolute;
        z-index: 3;
        left: 8.1vw;
        top: 252.8vh;
        font-size: 3vw;
    }
    .cards12{
        position: absolute;
        z-index: 3;
        left: 53vw;
        top: 252.8vh;
        font-size: 3vw;
    }
    .cards13{
        position: absolute;
        z-index: 3;
        left: 8.1vw;
        top: 297.7vh;
        font-size: 3vw;
    }
    .cards14{
        position: absolute;
        z-index: 3;
        left: 53vw;
        top: 297.7vh;
        font-size: 3vw;
    }
    .cards15{
        position: absolute;
        z-index: 3;
        left: 8.1vw;
        top: 345.5vh;
        font-size: 3vw;
    }
}



/* @media (max-width: 420px) and (min-width: 410px){
    .card-title{
        font-size: 3.7vw !important;
    }
    .card-text{
        font-size: 3vw !important; 
    }
} */